@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Playwrite+IN+Guides&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
a{
    display: inline-block;
    margin: auto;
    text-align: center;
}
h2{
    font-family: cursive;
    text-align: center;
    padding: 15px;
}
p{
    text-align: left;
    padding: 10px;
 
}
p.especial{
    text-align: center;
}
footer > a{
    border: 1px solid white;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    margin: 15px;
    color: white;
    border-radius: 25px;
    box-shadow: 5px 5px 18px 3px rgba(0, 0, 0, 0.301);
}
footer > a:hover{
    background-color: rgba(255, 255, 255, 0.192);
    text-align: center;
    display: inline-block;
    padding: 10px;
    margin: 15px;
    color: rgb(255, 255, 255);
    
}

body{
    background-color: rgb(94, 88, 88);
}
header{
    background: gray url(../img/background.jpg) no-repeat left top;
    background-size: cover;
    padding: 5px;
    text-align: center;
    box-shadow: 5px 5px 18px 3px rgba(0,0,0,0.54); ;
}
header > h1{
    color: rgb(48, 160, 154);
    font-family: "Playwrite IN Guides", cursive;
}
header > p{
    color: white;
    font-family: "Indie Flower", cursive;
    text-align: center;
}
header > nav > a{
    display: inline-block;
    text-decoration: none;
    background-color: #000000;
    color: rgb(207, 2, 2);
    text-align: right;
    border: 1px solid rgb(207, 2, 2);
    border-radius: 15px;
    padding: 3px;
}
header > nav > a:hover{
    display: inline-block;
    text-decoration: none;
    background-color: #3f03036c;
    color: rgb(238, 76, 76);

}
nav{
    padding: 10px;
}
main{
    padding: 15px;
    background-color: white;
    max-width: 800px;
    margin: auto;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 5px 5px 18px 3px rgba(0,0,0,0.54);
}
article{
    display: block;
    text-indent: 30px;
    text-align: center;
}
article > p{
    padding: 15px;
}
img{
    max-width: 200px;
    max-height: 176px;
    text-align: center;
    margin: 15px;
    display: inline-block;
    box-shadow: 5px 5px 18px 3px rgba(0, 0, 0, 0.205);
}
img:hover{
    box-shadow: 5px 5px 18px 3px rgba(59, 58, 58, 0.74);
}
iframe {
    border: 1px dashed rgba(0, 0, 0, 0.486);
    display: block;
    max-width: 800px;   /* limite máximo */
    margin: auto;       /* centraliza */
    position: relative;
    width: 70%;
}
